{% extends 'base.html' %}

{% block title %}所有云盘{% endblock %}

{% block content %}
    <div class="mx-auto w-full sm:w-3/4">
        {% include 'header.html' %}
        <div class="card lg:card-side bordered shadow-lg">
            <div class="card-body">
                <h2 class="card-title">
                    DriveList
                </h2>
                {% if drives %}
                {% for drive in drives %}
                <ul>
                    <li class="drive-item mb-3">
                        <a href="{% url 'storage:list_files' drive.slug %}">{{ drive.name }}</a>
                        <a class="btn btn-circle btn-xs" href="{% url 'storage:refresh_token' drive.id %}">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-4 h-4 stroke-current">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15"></path>
                            </svg>
                        </a>
                    </li>
                {% endfor %}
                {% if user.is_authenticated %}
                <a class="btn btn-sm" href="{% url 'storage:add_disk' %}" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-4 h-4 mr-2 stroke-current" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                    </svg>
                      Add
                </a>
                {% endif %}
                <a class="btn btn-sm" href="{% url 'storage:add_disk' %}" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-4 h-4 mr-2 stroke-current" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                    </svg>
                      Add
                </a>
                {% else %}
                {% if user.is_authenticated %}
                <a class="btn btn-sm" href="{% url 'storage:add_disk' %}" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-4 h-4 mr-2 stroke-current" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                    </svg>
                      Add
                </a>
                {% endif %}
                {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}