{% extends 'base.html' %}
{% load static %}

{% block title %}{{ name }} - 文件预览{% endblock %}

{% block content %}
    <div class="w-full sm:w-3/4 mx-auto">
        {% include 'header.html' %}
    </div>

    <div class="container mx-auto w-full sm:w-3/4 flex flex-col justify-center space-y-6">
        {% if breadcrumbs %}
        <div class="text-sm breadcrumbs">
            <ul>
                {% for breadcrumb in breadcrumbs %}
                 <li>
                    <a href="{{ breadcrumb.url }}">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="w-4 h-4 mr-2 stroke-current"><!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!---->
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"></path> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!---->
                    </svg>
                    {{ breadcrumb.path }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <span class="font-lg font-bold">文件下载</span>
        <div class="flex inline-flex space-x-3">
            <textarea class="textarea h-auto textarea textarea-bordered w-4/5" id="downloadUrl" readonly>{{ request.scheme }}://{{ request.META.HTTP_HOST }}/download?{{ request.META.QUERY_STRING }}</textarea>
            <div class="w-1/5 flex justify-around">
                <button class="btn btn-primary" onclick="copyUrl()">Copy</button>
                <a href="#qrcode" class="btn btn-primary">Qrcode</a>
                <div id="qrcode" class="modal">
                    <div class="modal-box">
                        <div class="flex justify-center" id="qrBox"></div>
                        <div class="modal-action">
                          <a href="#" class="btn">Close</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span class="font-lg font-bold">文件预览</span>
        <div id="preview" class="card bordered mb-3" data-file-type="{{ file_type }}"></div>
        <div class="divider"></div>

    <div class="fixed bottom-6 right-6">
        <ul class="menu w-16 py-1 shadow-lg bg-base-100 rounded-box">
            <li>
                <a href="{{ request.scheme }}://{{ request.get_host }}/convert{{ request.path }}" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="inline-block w-6 h-6">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path d="M16 2l5 5v14.008a.993.993 0 0 1-.993.992H3.993A1 1 0 0 1 3 21.008V2.992C3 2.444 3.445 2 3.993 2H16zm-4 14a4 4 0 1 0 0-8H8v8h4zm-2-6h2a2 2 0 1 1 0 4h-2v-4z"></path>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/qrcode.js' %}"></script>
    <script src="{% static 'js/DPlayer.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script>
        new QRCode(document.getElementById("qrBox"), document.getElementById('downloadUrl').value);
        const visible = (element) => {
            element.style.display = 'inline'
        }
        const invisible = (element) => {
            element.style.display = 'none'
        }
    </script>
    <script>
        function copyUrl() {
            const url = document.getElementById('downloadUrl');
            url.select();
            document.execCommand('copy');
            alert('复制成功！');
        }
    </script>
{% endblock %}
