{% extends 'base.html' %}

{% block title %}400{% endblock %}

{% block content %}
    <div class="hero min-h-screen" style="background-image: url(&quot;https://picsum.photos/1600/1400&quot;);">
        <div class="hero-overlay bg-opacity-60"></div>
        <div class="text-center hero-content text-neutral-content">
            <div class="max-w-md">
                <h1 class="mb-5 text-5xl font-bold">400</h1>
                <p class="mb-5">Bad request!</p>
                <button onclick="window.history.back()" class="btn btn-primary">Go back</button>
            </div>
        </div>
    </div>
{% endblock %}
